body{
    background: lightgray !important;;
}

.card-background{
    background: #fcfcfc !important;;
}
.flex-wrap{
    flex-wrap: wrap;
}
.justify-end{
    justify-content: end;
}
.text-xxx-large {
    font-size: xx-large;
}
.p-8{
    padding: 2rem !important;
    padding-left: 0;
}
.py-8{
    padding: 1.5rem 1rem!important;
}
.flex-column{
    flex-direction: column !important;;
}

.text-color{
    color: #506AF4;
}

.icon-bg {
    background-color: #4756a5 !important;
}

.icon-test-color {
    color: #fff !important;
}